img.nav_icon {
    width: 100px;
    height: 100px;
}

div.player_status {
	border: solid;
	margin-top: 15px;
	
}

.bg-light {
    background-color: #ADD8E6!important;
}

.nav-link {
    font-family: 'Lucida Console';
}

img {
    padding-top: 15px;
}

.centered {
    text-align: center;
}


p {
    padding-top: 15px;
    font-family: 'Lucida Console';
}

li {
    font-family: 'Lucida Console';
}

.page-footer {
	margin-top: 10px;
	background-color: #ADD8E6;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}

.navbar-nav {
	width: 100%;
}
